/* Viewport Settings */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden; /* Prevent scrollbars */
    touch-action: manipulation; /* Prevent accidental zooming */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Prevent text selection on iOS */
    -webkit-touch-callout: none; /* Prevent callout to copy image, etc when tap to hold */
    -webkit-tap-highlight-color: transparent; /* Remove button highlight on tap */
}

body {
    -webkit-backface-visibility: hidden; /* Prevent flickering */
    backface-visibility: hidden;
    -webkit-touch-callout: none; /* Prevent callout to copy image, etc when tap to hold */
}

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.canvas-container {
    position: relative;
    width: 100vmin;
    height: 100vmin;
    max-width: 500px;
    max-height: 500px;
    animation: sizeTransition 20s forwards, fadein 15s forwards;
    opacity: 0;
    border: solid white 0px inset;
    pointer-events: none;
}
@keyframes sizeTransition {
    0% {transform: scale(0.2);}
    80% {transform: scale(0.99);}
    100% {transform: scale(1);}
}
@keyframes fadein {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1;
    }
}

#globeCanvas {
    width: 100%;
    height: 100%;
}

.horizontal-buttons, .vertical-buttons {
    display: none;
}

.control-button {
background-color: #000000;
border: solid 1px;
border-radius: 5px;
font-size: 1.25em;
color: rgba(255, 255, 255, 0);
cursor: pointer;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
user-select: none; /* Prevent text selection */
-webkit-user-select: none; /* Prevent text selection on iOS */
-webkit-touch-callout: none; /* Prevent callout to copy image, etc when tap to hold */
-webkit-tap-highlight-color: transparent; /* Remove button highlight on tap */
opacity: 0.2;
transition-property: opacity, color;
transition-duration: 0.1s,  2s;
outline: none; /* Remove outline on focus */
}

.control-button:hover {
opacity: 1;
}

.control-button:active {
opacity: 1;
}


.horizontal-refresh-container {
    display: none;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.refresh-button-container-bottom-right {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

@media (min-aspect-ratio: 1/1) {
    .outer-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .horizontal-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 20px;
    }

    @media (min-height: 650px) {
        .horizontal-refresh-container {
            display: flex;
        }
    }

    @media (max-height: 649px) {
        .horizontal-refresh-container {
            display: none;
        }

        .refresh-button-container-bottom-right {
            display: flex;
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    .outer-container {
        flex-direction: column;
    }

    .vertical-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }

    .vertical-buttons .control-button {
        margin: 0 5px;
    }

    .horizontal-refresh-container {
        display: none; /* Hide horizontal refresh buttons in vertical mode */
    }

    .refresh-button-container-bottom-right {
        display: none; /* Hide horizontal refresh buttons in vertical mode */
    }

    .vertical-buttons .control-button:nth-child(1) {
        order: 1;
    }

    .vertical-buttons .refresh-button {
        order: 2; /* Position the refresh button in the middle */
    }

    .vertical-buttons .control-button:nth-child(3) {
        order: 3;
    }
}

.frame-info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Prevent text selection on iOS */
    display: block; /* Change to block to see frame# */
}

#clickableIframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 100; /* Ensure it appears above other elements */
    display: none; /* Hidden by default */
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0); /* Semi-transparent background */
    z-index: 99; /* Ensure it's on top of everything */
    opacity: 0;
    transition: opacity 1.5s ease-in-out; /* Smooth transition */
    pointer-events: none; /* Allow interactions with elements beneath */
}