body {
  margin: 0;
  padding: 30px;
  background-color: black;
  color: white; /* Default text color for readability */
  overflow: auto; /* Allow scrolling if content exceeds viewport height */
  font-family: Georgia, serif; /* Use Georgia font for text */
}

img {
  /* Disable image smoothing/anti-aliasing */
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

video {
  pointer-events: none;
  border: none;
  width: 100%; /* Make image full width of the cell */
  height: auto; /* Maintain aspect ratio */
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  display: grid;
  grid-template-rows: auto auto auto; /* Three rows */
  gap: 10px; /* Space between rows */
  max-width: 600px; /* Max width for the container */
  margin: 0 auto; /* Center the container horizontally */
}

.image-row {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
}

.image-row img {
  width: 100%; /* Make image full width of the cell */
  height: auto; /* Maintain aspect ratio */
}

.text-row {
  padding: 0px; /* Add padding around text for readability */
  text-align: justify;
}

.navigation {
  display: flex;
  justify-content: center;
}

.grid-3x3 {
  display: grid;
  grid-template-columns: repeat(3, 66px);
  grid-template-rows: repeat(3, 66px);
  gap: 10px; /* Space between cells */
  width: 216px; /* Total width (3 * 66px + 2 * 10px gap) */
  height: 216px; /* Total height (3 * 66px + 2 * 10px gap) */
}

.grid-3x3 div,
.grid-3x3 a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  padding: 2px; /* Padding inside each cell */
  box-sizing: border-box; /* Include padding in the width and height calculations */
}

.grid-3x3 img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the image fits within the cell without distortion */
}
